table.lignesBleues {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 24px;
}
table.lignesBleues td, table.lignesBleues th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.lignesBleues tr:nth-child(even) {
  background: #D0E4F5;
}
table.lignesBleues thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.lignesBleues thead th {
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.lignesBleues thead th:first-child {
  border-left: none;
}


.dialogueModalAB {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.dialogueModalAB:target {
	opacity:1;
	pointer-events: auto;
}

.dialogueModalAB > div {
	width: 800px;
	position: relative;
	margin: 200px auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #eee;
	background: -moz-linear-gradient(#eee, #aaa);
	background: -webkit-linear-gradient(#eee, #aaa);
	background: -o-linear-gradient(#eee, #aaa);
}

.fermetureAB {
	background: #606060;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	left: -8px;
	text-align: center;
	top: -8px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.fermetureAB:hover { background: #EB2560; }